div.editor div.body ul.shortcuts li {
   padding-left: 5px;
   font-size: 12px;
   font-weight: normal;
}

div.editor div.body ul.shortcuts li a {
   background-image: url(../gfx/button_side_block.gif);
   background-position: right center;
   background-repeat: no-repeat;
   padding-right: 15px;
}

div.editor div.body #assetList div.grid {
   width: 138px;
   height: 198px;
   float: left;
   text-align: center
}

div.editor div.body #assetList div.grid div.thumbnail:hover,div.editor div.body #assetList #selected div.thumbnail
   {
   background-color: #f1f400;
}

div.editor div.body #assetList div.grid div.thumbnail-icons {
   visibility :hidden; 
   border:1px solid #eaedff; 
   position:relative; 
   top:-3px; 
   left:-2px; 
   height:20px; 
   width: 95%; 
   background-color: white;
}

div.editor div.body #assetList div.grid div.thumbnail {
   width: 100%;
   height:128px;
   text-align: center;
   vertical-align: middle;
   padding: 0;
}

div.editor div.body #assetList div.grid div.assetInfo {
   width: 100%;
   height: 30px;
   text-align: center;
   padding: 0px;
}

div.buttonscontent {
   text-align: right;
   height: 39px;
}

div.page_buttons div.button div.button_body {
   background-image: url('../../../gfx/tab_2_right.gif');
   background-repeat: no-repeat;
   background-position: top right;
   height: 39px;
   float: left;
}

div.page_buttons div.button div.button_body a {
   float: left;
   padding: 10px;
   color: #313728;
   font-size: 13px;
   display: block;
   text-decoration:none;
}

div.show_mode_selector{
   padding: 10px 0px 0px 11px;
}