.ctitle {
	clear:both;
	padding: 6px 7px 5px 7px;
	font-weight: bold;
}
.cform {
	width: 450px;
	clear: both;
	padding: 2px;
	border: 1px solid #b6b6b6;
	margin-bottom: 14px;
}

/* forms */
/* -------------------------------------------------------------------------- */
.cform form {margin: 0px;}
.cform input, .cform textarea, .cform select {font-family: Verdana;font-size: 100%; width: 100%}
.cform input.checkbox, .cform input.radio, .cform input.submit { width: auto }

.cform table {width:436px;margin:7px}
.cform table.narrow {width:451px;margin:0px;}
.cform table table {width:412px;margin:0px}
.cform fieldset {
	border: none;
	background-color: #eaeaea;
	padding: 0px 0px 0px 0px;
	border-bottom: 2px solid #ffffff;
	margin: 0px;
}
.cform legend {
	font-weight: bold;
	background: url(../gfx/dynamicforms/bg_header.gif) repeat-x;
	border-bottom: 2px solid #ffffff;
	color: #ffffff;
	padding: 6px 0px 6px 0px;
	margin: 0px -7px 0px -7px;
	width: 394px;
	
}
.cform legend span {display:block; margin:0px 7px;width:436px}
.cform fieldset.lastfieldset {border:none;padding-bottom:7px}
.cform div.spacer, .cform p {margin: 0px 7px; padding: 7px 0px; width: 380px;}
.cform div.spacer {padding-bottom: 0px}
.cform td{padding: 2px 0px 5px 0px;}
.cform td.label{width: 151px;padding: 5px 7px 7px 0px;}
.cform td td.label{width: 127px;}
.cform td.field{width: 250px;}
.cform td.infobtn{width: 15px;padding: 4px 0px 0px 7px;}
.cform td.right{text-align: right;}

.cform div.roweven {background-color: #ffffff;}
.cform div.rowodd {background-color: #eaeaea;}

ul.stepinfo-images { list-style-type: none }
ul.stepinfo-images li {
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding:0px 0px 0px 20px;
}
ul.stepinfo-images li.stepimage-active { background-image: url(../gfx/dynamicforms/i_step_active.gif); }
ul.stepinfo-images li.stepimage-finished { background-image: url(../gfx/dynamicforms/i_step_finished.gif); }
ul.stepinfo-images li.stepimage-future { background-image: url(../gfx/dynamicforms/i_step_future.gif); }
ul.stepinfo-images li.stepimage-lastactive { background-image: url(../gfx/dynamicforms/i_step_lastactive.gif); }
ul.stepinfo-images li.stepimage-lastfinished { background-image: url(../gfx/dynamicforms/i_step_lastfinished.gif); }
ul.stepinfo-images li.stepimage-lastfuture { background-image: url(../gfx/dynamicforms/i_step_lastfuture.gif); }

.cform .redtext { color:#ff0000; }
.cform .greytext {color: #6c6c6c; }

.cform .tablelink {
	display:block;
	padding:0px 0px 0px 14px;
	background-image: url(/gfx/dynamicforms/a_link.gif);
	background-repeat: no-repeat;
	background-position: 7px 4px;
}