div.editor div.title{
   margin:10px 0 10px 10px;
   color:green;
   font-family:Verdana;
   font-size:18px;
}

div.editor div.introduction{
   margin-left:10px;
   font-size:12px;
}

div.editor div.body div.nomessage{
   color:#cc0000;
   font-size:12px;
}

div.editor div.body div.fieldtitle{
   float:left;
   display:inline;
   font-weight:bold ; 
}

div.editor div.body div.select{
   margin-left:70px;
   padding-top:5px 0px 5px;
}

div.editor div.body div.button{
   margin-left:72px;
}